<footer>
	<div id="idFooterArea">
		<%= link_to 'Home', tasks_path %>
		<%= link_to 'Add', new_task_path %>
	</div>
	<div>
		Copyright © <a href="https://ayato-shitomi.github.io/portfolio/">LabPixel Frameworks</a> All Rights Reserved.
	</div>
</footer>